# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Spyder project settings
.spyderproject
.spyproject

# mkdocs documentation
/site

# vscode stuff
.vscode/

# Raw data
1.download-data/data/*

# Raw data, split (processed data included in repo)
2.process-data/data/train.tsv.gz
2.process-data/data/test.tsv.gz
2.process-data/data/test_eigen_values.tsv.gz
2.process-data/data/train_eigen_values.tsv.gz
2.process-data/models/PCA_model.joblib
0.pre-processing/data/training_file_translations_orig.txt
0.pre-processing/data/validation_file_translations_orig.txt
